*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/drools-game-engine-model/nbproject/
/drools-game-engine-model/target/
/drools-game-engine-core/nbproject/
/drools-game-engine-core/target/
/drools-game-engine-rules/nbproject/
/drools-game-engine-rules/target/
/drools-game-engine-services/target/
/drools-game-engine-escape-room-kjar/target/
/drools-game-engine-escape-room-model/target/